{% extends 'layout.html' %}

{% block body %}
<div class="container">

    <h1>Contact</h1>
    <p>Voor zaken rond deze website, en het SE Data Platform in het algemeen, kan contact
        opgenomen worden met <a href="http://www.geonovum.nl/contact/adres-en-route">Geonovum</a>.
    </p>
    <p>
        Contact voor het Smart Emission Nijmegen project kan via Linda Carton: l.carton@fm.ru.nl
    </p>
    <p>
        Contact voor het Smart City Living Lab kan via Hans Nouwens van <a href="http://connectedworlds.nl/">Connected Worlds</a>
    </p>

    <h2>Partners</h2>
    <p>
        <img src="{{ url_for('static', filename='app/media/se-partners.jpg') }}"/>
    </p>

</div>
{% endblock %}
